<table>
    <tr>
        <td>NIP</td>
        <td>:</td>
        <td><input [(ngModel)]="nip" type="text"></td>
    </tr>
    <tr>
        <td>Nama Lengkap</td>
        <td>:</td>
        <td><input [(ngModel)]="nama" type="text"></td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>:</td>
        <td><input [(ngModel)]="alamat" type="text"></td>
    </tr>
    <tr>
        <td>Jabatan</td>
        <td>:</td>
        <td><input [(ngModel)]="jabatan" type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <button (click)="saveDataKaryawan()">Simpan</button>
        </td>
    </tr>
</table>